{% extends 'baseindex.html' %}

{% block title %}Eliminar Curso{% endblock %}

{% block content %}
<h2>¿Estás seguro de que deseas eliminar el curso "{{ course.title }}"?</h2>
<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    {% if user.is_authenticated and user.is_teacher %}
        <a href="{% url 'courseteacher' %}" class="btn btn-secondary">Cancelar</a>
    {% endif %}
    {% if user.is_authenticated and user.is_student %}
        <a href="{% url 'coursestudent' %}" class="btn btn-secondary">Cancelar</a>
    {% endif %}
</form>
{% endblock %}
